:root {
  --primary: #969dca;
  --primary-70: #969dcab3;
  --primary-50: #969dca80;
  --primary-10: #969dca1A;
  --secondary: #1a1a1c;
  --secondary-80: #1a1a1ccc;
  --secondary-70: #1a1a1cb3;
  --secondary-50: #1a1a1c80;
  --secondary-10: #1a1a1c1A;
  --tertiary: #eef0ff;
  --tertiary-70: #eef0ffb3;
  --tertiary-50: #eef0ff80;
  --tertiary-10: #eef0ff1A;
  --text: #DD403A;
  --background: #FFFCE8;
}

/* 
:root {
  --primary: #DD403A;
  --primary-70: #DD403Ab3;
  --primary-50: #DD403A80;
  --primary-10: #DD403A1A;
  --secondary: #FFFCE8;
  --secondary-80: #FFFCE8cc;
  --secondary-70: #FFFCE8b3;
  --secondary-50: #FFFCE880;
  --secondary-10: #FFFCE81A;
  --tertiary: #3F3836;
  --tertiary-70: #3F3836b3;
  --tertiary-50: #3F383680;
  --tertiary-10: #3F38361A;
  --text: #DD403A;
  --background: #FFFCE8;
} */


* {
  font-family: 'Kanit', sans-serif;
}

body {
  color: var(--primary);
  background-color: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #DD403A;
    --primary-70: #DD403Ab3;
    --primary-50: #DD403A80;
    --primary-10: #DD403A1A;
    --tertiary: #FFFCE8;
    --tertiary-80: #FFFCE8cc;
    --tertiary-70: #FFFCE8b3;
    --tertiary-50: #FFFCE880;
    --tertiary-10: #FFFCE81A;
    --secondary: #000000;
    --secondary-70: #000000b3;
    --secondary-50: #00000080;
    --secondary-10: #0000001a;
    --text: #DD403A;
    --background: #3F3836;
  }
} */