@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.error {
  color: var(--text);
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
}

.temperatureCircle {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--primary); 
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  margin: 20px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.temperatureCircleExpanded {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0%;
  background-color: var(--secondary-80);
  color: var(--primary);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.temperatureCircleExpanded.tempratuur {
  margin-left: 500px;
}

.tempratuur.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.newUI {
 text-align: center;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.searchField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  color: var(--tertiary);
  border-radius: 5px;
}

.searchField input {
  border: none;
  border-radius: 50px;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
}

.searchField input:focus {
  outline: none;
  outline: var(--primary) 5px solid;
  padding: 7px;
}

.searchButton {
  background-color: var(--tertiary);
  color: var(--secondary); /* white text */
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 400px;
  transition: all 0.3s ease-in-out;
}

.searchButton:hover {
  scale: 1.05;
}

.stationsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  background-color: var(--tertiary);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.stationItem {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  background-color: var(--tertiary);
  transition: all 0.1s ease-in-out;
  text-align: center;
  color: var(--secondary);
}

.stationItem:hover {
  background-color: var(--secondary-10);
}

.timeInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timeInfobig {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.departureTime {
  margin-right: 5px;
}

.arrow {
  margin-right: 5px;
}

.arrivalTime {
  margin-left: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-50);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.overlay button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
}

.tripCard {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 10px;
}

.tripCard:hover {
  transform: scale(1.05);
  background-color: var(--primary);
}

.actualTime {
  color: var(--primary);
}

.actualDuration {
  color: var(--primary);
}

.trainImageContainer {
  height: calc(5vw + 5vh - 10px);
  max-width: 60vw;
  overflow-x: scroll;
  display: flex;
  background-color: var(--secondary-50);
  border: 2px solid var(--tertiary);
  border-radius: 30px;
  padding: 10px;
  margin: 20px 0px;
}

@media (max-width: 600px) {
  .temperatureCircle {
    width: 100px;
    height: 100px;
    font-size: 2em;
    margin: 10px;
  }

  .temperatureCircleExpanded {
    font-size: 2em;
  }

  .firstSearchField {
    margin-top: 100px;
  }

  .searchField input {
    padding: 3px;
    font-size: 20px;
  }

  .searchButton {
    padding: 15px 30px;
    font-size: 20px;
  }
  
  .stationsList {
    max-height: 100px;
  }

  .tripCard {
    padding: 5px;
  }
}

.footerLink {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10%;
  text-align: center;
  background-color: var(--tertiary);
  padding: 20px 20px;
  font-size: 16px;
  color: var(--secondary);
  border-top-right-radius: 20px;
}

.switch {
  background-color: var(--tertiary);
  fill: none;
  stroke: #dd403a;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 11px;
}
.switchButon {
  all: unset;
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-bottom: -10px;
}