.img {
    height: 100px;
    object-fit: cover;
}

.homeButton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--primary);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: var(--primary-50);
}